* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

hr {
    color: white;
    width: 1px;
}

/* Header */

.Header-Container {
    background-color: #255EE9;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header-Container > div {
    display: flex;
}

.Header-Logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: white;
}

.Gap {
    display: flex;
    justify-content: space-between;
}

.Header-Links {
    display: flex;
    align-items: center;
    justify-content:space-between;
    text-decoration: white;
}

.No-Link {
    text-decoration: none;
    color: white;
}

.Header-Links ul {
    list-style-type: none;
    display: flex;
    text-wrap: nowrap;
    justify-content: center;
    text-align: center;
}

li {
    padding: 15px;
}

.Header-Login {
    display: flex;
    align-items: center;
    padding: 7px;
    color: white;
}

.White-Border {
    background-color: white;
    padding: 9px;
    border-radius: 20px;
}

.Black-Border {
    background-color: rgb(0, 0, 0);
    padding: 12px;
    border-radius: 20px;
    color: white;
    margin-left: 30px;
}

/* Main */

.Main-Container1 {
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main-Item1 {
 max-width: 1100px;
}

.White-Text-H1 {
    color: white;
    padding: 15px;
    font-size: 50px;
}

.Main-Item1>* {
    text-align: center;
    margin-bottom: 20px;
}

.Main-Item1>div {
    font-size: 23px;
}

/* Container 2 */

.Main-Container2 {
    background-color: rgb(255, 255, 255);
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main-Item2-1 {
    display: flex;
    background-image: url(../img/item1.svg);
    width: 300px;
    height: 300px;
    background-size: cover;
    flex-grow: 2;
}




.Main-Item2-2 {
    display: flex;
    background-color: rgb(255, 0, 0);
    width: 300px;
    height: 300px;
    flex-grow: 1;
    margin: 10%;
    margin-left: 10%;
    border-style: dashed;
    border-color: solid black;
    border-width: 1px;
}

.Main-Item2-2 h2 {
    font-size: 50px;
}

/* Container 3 */

.Main-Container3 {
    background-color: rgb(141, 141, 141);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main-Item3-1 {
    display: flex;
    background-color: aquamarine;
    width: 200px;
    height: 300px;
    flex-grow: 1;
    margin: 10%;
    margin-right: 0;
    border-style: dashed;
    border-color: solid black;
    border-width: 1px;
}


.Main-Item3-2 {
    display: flex;
    background-color: rgb(255, 0, 0);
    width: 200px;
    height: 300px;
    flex-grow: 2;
    margin: 10%;
    margin-left: 0;
    border-style: dashed;
    border-color: solid black;
    border-width: 1px;
}

/* Container 4 */

.Main-Container4 {
    background-color: rgb(255, 255, 255);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main-Item4-1 {
    display: flex;
    background-color: aquamarine;
    width: 200px;
    height: 300px;
    flex-grow: 2;
    margin: 10%;
    margin-right: 0;
    border-style: dashed;
    border-color: solid black;
    border-width: 1px;
}


.Main-Item4-2 {
    display: flex;
    background-color: rgb(255, 0, 0);
    width: 200px;
    height: 300px;
    flex-grow: 1;
    margin: 10%;
    margin-left: 0;
    border-style: dashed;
    border-color: solid black;
    border-width: 1px;
}

/* Container 5 */

.Main-Container5 {
    background-color: rgb(141, 141, 141);
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main-Item5 {
    display: flex;
    background-color: aquamarine;
    width: 750px;
    height: 500px;
    border-style: dashed;
    border-color: solid black;
    border-width: 1px;
}

/* Footer */

.Footer-Container1 {
    background-color: rgb(27, 27, 27);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer-Item1 {
    display: flex;
    background-color: rgb(255, 124, 124);
    width: 310px;
    height: 300px;
    border-style: dashed;
    border-color: solid black;
    border-width: 1px;
    margin-left: 10%;
}

.Footer-Item2 {
    display: flex;
    background-color: rgb(120, 224, 255);
    width: 140px;
    height: 300px;
    border-style: dashed;
    border-color: solid rgb(255, 255, 255);
    border-width: 1px;
}

.Footer-Item3 {
    display: flex;
    background-color: rgb(120, 224, 255);
    width: 140px;
    height: 300px;
    border-style: dashed;
    border-color: solid rgb(255, 255, 255);
    border-width: 1px;
}

.Footer-Item4 {
    display: flex;
    background-color: rgb(120, 224, 255);
    width: 140px;
    height: 300px;
    border-style: dashed;
    border-color: solid rgb(255, 255, 255);
    border-width: 1px;
}


.Footer-Item5 {
    display: flex;
    background-color: rgb(120, 224, 255);
    width: 140px;
    height: 300px;
    border-style: dashed;
    border-color: solid rgb(255, 255, 255);
    border-width: 1px;
    margin-right: 10%;
}

/* Final footer setup */

.Footer-Container2 {
    background-color: rgb(27, 27, 27);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 500px;
}

.Footer-Items {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 750px;
    height: 40px;
}

.Footer-Logo {
    background-color: pink;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border-style: dashed;
    border-color: solid rgb(0, 0, 0);
    border-width: 1px;
}

.Footer-Button {
    background-color: pink;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border-style: dashed;
    border-color: solid rgb(0, 0, 0);
    border-width: 1px;
}